*{
    margin: 0;padding: 0;
}
summary {
    display: block;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary::before {
    content: 'close';
    padding-right: 0.5em;
  }
  
  details[open] > summary::before {
    content: "open";
  }


  body{
    padding-bottom: 350px;
  }
  .video-box{
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .video-heading{
    color: #fff;
    position: absolute;
    left: 40%;
    top: 20%;
    z-index: 5;
  }

  .video{
    width: 100vw;
    height: 100vh;
    position: absolute;
  }